.social {
    display: flex;
    
    &__item {
        @include size (20px);
        &:not(:last-child) {
            margin-right: 32px;
        }
    }

    &__link {
        @include size (20px);
    }

    &__icon {
        transition: all 0.3s ease 0s;
        @include size(20px);
        @media (any-hover: hover){
            &:hover{
                fill: $hoverColor;
            }
        }
    }
}
