.title {
	font-style: normal;
	font-weight: 600;
	font-size: rem(50);
	line-height: 120%;
	color: #29323F;
}
.title--small {
	font-size: rem(38);
}

.subtitle {
	font-family: 'Arimo';
	font-weight: 400;
	font-size: rem(16);
	line-height: 160%;
	color: #6E6E6E;
}
