
.footer {
    &__container {
        display: flex;
        flex-wrap: wrap;
        @media (max-width:$mobile){
            flex-wrap: nowrap;
             flex-direction: column; 
             justify-content: center;
             align-items: center;
        }
    }

    &__logo {
        flex: 1 1 50%;
            img{
            width: 111px;
        }
        @media (max-width:$mobile){
             order: 1;
             margin-bottom: rem(40); 
        }
    }

    &__social {
        flex: 1 1 50%;
        justify-content: flex-end;
        @media (max-width:$mobile){
             order: 3;
             padding-bottom: 30px; 
        }
    }

    &__divider {
        height: 1px;
        flex: 100%;
        background-color: rgb(0, 0, 0);
        margin-top: 32px;
        margin-bottom: 90px;
        @media (max-width:$mobile){
             display: none; 
        }
    }
    &__copy {
        flex: 1 1 50%;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #797979;
        padding-bottom: 30px;
        @media (max-width:$mobile){
             order: 5; 
             padding-top: 30px;
             border-top: 1px solid black;
             width: 100%;
             text-align: center;
             overflow: hidden;
        }
    }

    &__list {
        flex: 1 1 50%;
        display: flex;
        justify-content: flex-end;
        @media (max-width:$mobile){
             order: 2; 
             flex-direction: column;
             align-items: center;
             justify-content: center;
             margin-bottom: 40px;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: 40px;
            @media (max-width:$mobile){
                margin-right: 0px; 
                margin-bottom: 16px;
           }
        }
        
    }
}
